{% load static %}
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/slider-img.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/project_style.css' %}"> -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">

        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.convform.css' %}">
        <script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.convform.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/scrollreveal.min.js' %}"></script>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />

    </section>
    <!-- Portfolio-->

      <section id="portfolio" class="content-section">
        <div class="container">
            <div class="content-section-heading text-center">
                <h3 class="text-secondary mb-0">Portfolio</h3>
                <h2 class="mb-5">Projects</h2>
            </div>
            <div class="project-wrapper">
               <div class="row mb-3"> 
                <div class="col-lg-4 col-sm-12"> 
               <div class="load-hidden project-wrapper__text mb-2" style="visibility: visible;">
                    <h3 class="project-wrapper__text-title">Exam System</h3> 
                    <div> 
                       <p class="mb-4">A Monitoring System website that is used to take Exams. </p> 
                   </div>
                    <a rel="noreferrer" target="_blank" class="cta-btn cta-btn--hero" href="http://exam-monitor.mjobi.com/"> See Live </a> 
                    <a rel="noreferrer" target="_blank" class="cta-btn text-color-main" href="https://github.com/GokeAdewuyi/CAMS"> Source Code </a>
                    </div>
               </div> 
               <div class="col-lg-8 col-sm-12"> 
                   <div class="load-hidden project-wrapper__image mb-2" style="visibility: visible;">
                        <a rel="noreferrer" href="https://exam-monitor.mjobi.com/" target="_blank">
                           <div data-tilt="" data-tilt-max="4" data-tilt-glare="true" data-tilt-max-glare="0.5" class="js-tilt rounded thumbnail" style="transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
                               <img alt="Project Image" class="img-fluid" src="{% static 'images/sillos.png' %}"> 
       <div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none;">
           <div class="js-tilt-glare-inner" style="position: absolute; top: 50%; left: 50%; pointer-events: none; background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); transform: rotate(180deg) translate(-50%, -50%); transform-origin: 0% 0%; opacity: 0; width: 1342px; height: 1342px;">
           </div>
       </div>
   </div>
           </a>
           </div>
        </div> 
       </div> 
       <div class="row mb-3"> 
           <div class="col-lg-4 col-sm-12"> 
               <div class="load-hidden project-wrapper__text mb-2" style="visibility: visible;"> 
                   <h3 class="project-wrapper__text-title">EssLasu Voting system</h3> 
                   <div> 
                       <p class="mb-4">This is a voting System designed for Lagos State University (LASU).</p> 
                   </div>
                   <a rel="noreferrer" target="_blank" class="cta-btn cta-btn--hero" href="http://esslasu.herokuapp.com/"> See Live </a> 
                   <a rel="noreferrer" target="_blank" class="cta-btn text-color-main" href="https://github.com/abiola814/voting-system"> Source Code </a>
               </div> 
           </div> 
           <div class="col-lg-8 col-sm-12"> 
               <div class="load-hidden project-wrapper__image mb-2" style="visibility: visible;"> 
                   <a rel="noreferrer" href="http://esslasu.herokuapp.com/" target="_blank"> 
                       <div data-tilt="" data-tilt-max="4" data-tilt-glare="true" data-tilt-max-glare="0.5" class="js-tilt rounded thumbnail" style="transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);"> 
                           <img alt="Project Image" class="img-fluid" src="{% static 'images/voting-system.png' %}"> 
                           <div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none;">
                               <div class="js-tilt-glare-inner" style="position: absolute; top: 50%; left: 50%; pointer-events: none; background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); transform: rotate(180deg) translate(-50%, -50%); transform-origin: 0% 0%; opacity: 0; width: 1342px; height: 1342px;">
                               </div>
                           </div>
                       </div>
                    </a> 
                   </div> 
               </div> 
           </div> 
           <div class="row mb-3"> 
               <div class="col-lg-4 col-sm-12"> 
                   <div class="load-hidden project-wrapper__text mb-2" style="visibility: visible;"> 
                       <h3 class="project-wrapper__text-title">Online school Website</h3> 
                       <div> 
                           <p class="mb-4">An online learning website for course management and Exam system. It also consist of article editor</p> 
                       </div> 
                       <a rel="noreferrer" target="_blank" class="cta-btn cta-btn--hero" href="https://e-learning.mjobi.com/"> See Live </a> 
                       <a rel="noreferrer" target="_blank" class="cta-btn text-color-main" href="https://github.com/abiola814/online-learning-system-with-python"> Source Code </a>
                   </div> 
               </div> 
               <div class="col-lg-8 col-sm-12"> 
                   <div class="load-hidden project-wrapper__image" style="visibility: visible;"> 
                       <a rel="noreferrer" href="https://e-learning.mjobi.com/" target="_blank"> 
                           <div data-tilt="" data-tilt-max="4" data-tilt-glare="true" data-tilt-max-glare="0.5" class="js-tilt rounded thumbnail" style="transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);"> 
                               <img alt="Project Image" class="img-fluid" src="{% static 'images/online.jpeg' %}"> 
                               <div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none;">
                                   <div class="js-tilt-glare-inner" style="position: absolute; top: 50%; left: 50%; pointer-events: none; background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); transform: rotate(180deg) translate(-50%, -50%); transform-origin: 0% 0%; opacity: 0; width: 1342px; height: 1342px;">
                                   </div>
                               </div>
                           </div> 
                       </a> 
                   </div> 
               </div> 
           </div> 
           <div class="row mb-3"> 
               <div class="col-lg-4 col-sm-12"> 
                   <div class="load-hidden project-wrapper__text mb-2" style="visibility: visible;"> 
                       <h3 class="project-wrapper__text-title mb-2">Movie Shazam</h3>
                       <div> <p class="mb-4">An AI based website that recognize all Actor or Actress's. It detects their faces through their image and brings back their biography, all the movies the actor have acted.</p> 
                       </div> 
                       <a rel="noreferrer" target="_blank" class="cta-btn cta-btn--hero" href="http://movie-shazam.mjobi.com/"> See Live </a> 
                    <a rel="noreferrer" target="_blank" class="cta-btn text-color-main" href="#"> Source Code </a>
                   </div> 
               </div> 
               <div class="col-lg-8 col-sm-12"> 
                   <div class="load-hidden project-wrapper__image mb-2" style="visibility: visible;"> 
                       <a rel="noreferrer" href="https://movie-shazam.mjobi.com/" target="_blank"> 
                           <div data-tilt="" data-tilt-max="4" data-tilt-glare="true" data-tilt-max-glare="0.5" class="js-tilt rounded thumbnail" style="transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1); will-change: transform; transition: all 300ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;"> 
                               <img alt="Project Image" class="img-fluid" src="{% static 'images/shazam.png' %}"> 
                               <div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none;">
                                   <div class="js-tilt-glare-inner" style="position: absolute; top: 50%; left: 50%; pointer-events: none; background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); transform: rotate(180deg) translate(-50%, -50%); transform-origin: 0% 0%; opacity: 0; width: 1342px; height: 1342px; transition: opacity 300ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;">
                                   </div>
                               </div>
                           </div> 
                       </a> 
                   </div> 
               </div> 
           </div> 
       </div>
            <div class="row mb-3"> 
               <div class="col-lg-4 col-sm-12"> 
                   <div class="load-hidden project-wrapper__text mb-2" style="visibility: visible;"> 
                       <h3 class="project-wrapper__text-title mb-2">parcel carier</h3>
                       <div> <p class="mb-4">this is a carier system with realtime tracking of driver by using gprs location and google map.</p> 
                       </div> 
                       <a rel="noreferrer" target="_blank" class="cta-btn cta-btn--hero" href="https://delivery.mjobi.com/"> See Live </a> 
                    
                   </div> 
               </div> 
               <div class="col-lg-8 col-sm-12"> 
                   <div class="load-hidden project-wrapper__image mb-2" style="visibility: visible;"> 
                       <a rel="noreferrer" href="https://delivery.mjobi.com/" target="_blank"> 
                           <div data-tilt="" data-tilt-max="4" data-tilt-glare="true" data-tilt-max-glare="0.5" class="js-tilt rounded thumbnail" style="transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1); will-change: transform; transition: all 300ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;"> 
                               <img alt="Project Image" class="img-fluid" src="{% static 'images/delivery.png' %}"> 
                               <div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none;">
                                   <div class="js-tilt-glare-inner" style="position: absolute; top: 50%; left: 50%; pointer-events: none; background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); transform: rotate(180deg) translate(-50%, -50%); transform-origin: 0% 0%; opacity: 0; width: 1342px; height: 1342px; transition: opacity 300ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;">
                                   </div>
                               </div>
                           </div> 
                       </a> 
                   </div> 
               </div> 
           </div> 
                 <div class="row mb-3"> 
               <div class="col-lg-4 col-sm-12"> 
                   <div class="load-hidden project-wrapper__text mb-2" style="visibility: visible;"> 
                       <h3 class="project-wrapper__text-title mb-2">nfc based attendance system</h3>
                       <div> <p class="mb-4">THIS NFC ATTENDANCE SYSTEM WAS BUILT WITH DJANGO PYHON IN WHICH LECTURERS CAN TAKE ATTENDANCE OF STUDENT , WHO ARE PRESENT.</p> 
                       </div> 
                        
                        <a rel="noreferrer" target="_blank" class="cta-btn text-color-main" href="#"> Source Code </a>
                   </div> 
               </div> 
               <div class="col-lg-8 col-sm-12"> 
                   <div class="load-hidden project-wrapper__image mb-2" style="visibility: visible;"> 
                       <a rel="noreferrer" href="#" target="_blank"> 
                           <div data-tilt="" data-tilt-max="4" data-tilt-glare="true" data-tilt-max-glare="0.5" class="js-tilt rounded thumbnail" style="transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1); will-change: transform; transition: all 300ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;"> 
                               <img alt="Project Image" class="img-fluid" src="https://scontent.flos5-1.fna.fbcdn.net/v/t39.30808-6/265367436_110050031524575_6354826184409406239_n.png?stp=dst-png_p180x540&_nc_cat=111&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeFTS3AvWwX3UQmJrzw8qSTGdgNegZvenDF2A16Bm96cMWXWrA7XvgPnoDbUm0_5ojR6Vxp17IC7XL350Q8C3yrs&_nc_ohc=UfZKLVh8L9sAX97DCNR&_nc_oc=AQk7PFGAG3TJf_21GvmYHEWdJPbxWcw5NsJUQKUOftMfTT9fITKgLtqm_SzYciFQKds&_nc_zt=23&_nc_ht=scontent.flos5-1.fna&oh=00_AfD2q2w1lyKfE4xc5CAGzM32ccIQzkkSf3cFhCM2drDjmw&oe=63EFBCF2"> 
                               <div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none;">
                                   <div class="js-tilt-glare-inner" style="position: absolute; top: 50%; left: 50%; pointer-events: none; background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); transform: rotate(180deg) translate(-50%, -50%); transform-origin: 0% 0%; opacity: 0; width: 1342px; height: 1342px; transition: opacity 300ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;">
                                   </div>
                               </div>
                           </div> 
                       </a> 
                   </div> 
               </div> 
           </div> 
            <div class="row mb-3"> 
               <div class="col-lg-4 col-sm-12"> 
                   <div class="load-hidden project-wrapper__text mb-2" style="visibility: visible;"> 
                       <h3 class="project-wrapper__text-title mb-2">iris door opening system</h3>
                       <div> <p class="mb-4">the  system is designed in a way that student which is verified can enter the examination hall and students that are not verified cannot; this system is going to be used to improve the existing systems by the following ways;
1) Security i.e. student that are not enroll for a course cannot enter 
2) Reduce time </p> 
                       </div> 
                        
                        <a rel="noreferrer" target="_blank" class="cta-btn text-color-main" href="#"> Source Code </a>
                   </div> 
               </div> 
               <div class="col-lg-8 col-sm-12"> 
                   <div class="load-hidden project-wrapper__image mb-2" style="visibility: visible;"> 
                       <a rel="noreferrer" href="#" target="_blank"> 
                           <div data-tilt="" data-tilt-max="4" data-tilt-glare="true" data-tilt-max-glare="0.5" class="js-tilt rounded thumbnail" style="transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1); will-change: transform; transition: all 300ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;"> 
                              <iframe  src="https://www.facebook.com/plugins/video.php?height=308&href=https%3A%2F%2Fweb.facebook.com%2F100075917227119%2Fvideos%2F2805566433076419%2F&show_text=false&width=760&t=0" width="560" height="308" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                               <div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none;">
                                   <div class="js-tilt-glare-inner" style="position: absolute; top: 50%; left: 50%; pointer-events: none; background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); transform: rotate(180deg) translate(-50%, -50%); transform-origin: 0% 0%; opacity: 0; width: 1342px; height: 1342px; transition: opacity 300ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;">
                                   </div>
                               </div>
                           </div> 
                       </a> 
                   </div> 
               </div> 
           </div> 
       <div> 
       </section>  

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/src.081681fd.js' %}"></script>